<div class="fixed-image" style="background-image:url({{TimberImage(content.fixed_image).src}});">

{% if header == true %}		
	<div class="film-strip">
	<div class="fixed-wrap">
{# {% endif %} #}
		<div class="contain">
			{# <div class="inner-squish"> #}

			{# {% if header == true %}	 #}
			{# <div class="col-sm-push-2"> #}
				<h1>{{post.title}}</h1>
				<div class="inner">
				<p class="lead">{{post.summary}}</p>
				{# <div class="inner-squish">
				<p>{{post.summary}}</p>
					
				</div> #}
					
				</div>
				{# <div class="inner-squish"> #}
					{# <p class="summary">{{post.summary}}</p>				 #}
				{# </div> #}
			{# </div> #}
			{# {% else %}
				<h3 class="section-title">{{content.section_title}}</h3>
				<p class="lead">{{content.lead}}</p> #}
			{# {% endif %} #}

			{# </div> #}
		</div>	
 {# {% if header == true %}	 #}
	</div>
	</div>
{% endif %}

</div> <!-- /.fixed-image -->