<div class="fixed-image" style="background-image:url({{TimberImage(content.fixed_image).src}});">

{% if header == true %}		
	<div class="film-strip">
	<div class="fixed-wrap">
{# {% endif %} #}
		<div class="contain">
			{# <div class="inner-squish"> #}

			{# {% if header == true %}	 #}
				<h1>{{post.title}}</h1>
				<p class="lead">{{post.tagline}}</p>
				<div class="inner-squish">
					<p>{{post.summary}}</p>				
				</div>
			{# {% else %}
				<h3 class="section-title">{{content.section_title}}</h3>
				<p class="lead">{{content.lead}}</p> #}
			{# {% endif %} #}

			{# </div> #}
		</div>	
 {# {% if header == true %}	 #}
	</div>
	</div>
{% endif %}

</div> <!-- /.fixed-image -->