<div class="fixed-image" style="background-image:url({{TimberImage(content.fixed_image).src}});">

	<div class="border">
		<div class="border-inner">
			<div class="contain inner-squish">
	
			{% if header == true %}	
				<h1>{{post.title}}</h1>
				<p class="lead">{{post.tagline}}</p>
				<p>{{post.summary}}</p>
			{% else %}
				<h3 class="section-title">{{content.section_title}}</h3>
				<p class="lead">{{content.lead}}</p>
			{% endif %}

			</div>
		</div>	
	</div>

</div>