{% extends "dividers/div.twig" %}

{% block content %}
	<p>Testimonial</p>

	{% if div.display == image_overlay %}
		{# Why is this 'content' and not 'div'? #}
		<img src="{{TimberImage(content.image_overlay).src('medium')}}" alt="Testimonial">
	{% endif %}


	{% for test in div.testimonial %}
		<blockquote>
			{{test.text}}	
		</blockquote>
		<p>{{test.person_name}} - <a href="{{test.source_link}}" target="blank">{{test.source}}</a></p>
	{% endfor %}

{% endblock %}