{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <header class="b-all">
            {% block header %}

                <div class="b1-b3 b-padinfull" role="banner">
                    <a class="hdr-logo-link" href="/" title="{{site.name}}" rel="home">
                        <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In  -->
<svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="231.5px" height="106.8px" viewBox="0 0 231.5 106.8" enable-background="new 0 0 231.5 106.8"
     xml:space="preserve">
<defs>
</defs>
<g>
    <path fill="#222334" d="M225.6,30.1h-10.4c-2.5,0-4.6,2-4.6,4.6v40.9c0,2.5,2,4.6,4.6,4.6h10.4c2.5,0,4.6-2,4.6-4.6V34.6
        C230.1,32.1,228.1,30.1,225.6,30.1z"/>
    <path fill="#222334" d="M144.6,30.1h-10.4c-2.5,0-4.6,2-4.6,4.6v40.9c0,2.5,2,4.6,4.6,4.6h10.4c2.5,0,4.6-2,4.6-4.6V34.6
        C149.1,32.1,147.1,30.1,144.6,30.1z"/>
    <circle fill="#222334" cx="106.7" cy="9.9" r="9.6"/>
    <path fill="#222334" d="M69.7,19.5h0.8c1.8,0,3.2-1.5,3.2-3.2V3.6c0-1.8-1.5-3.2-3.2-3.2h-0.8c-1.8,0-3.2,1.5-3.2,3.2v12.7
        C66.4,18.1,67.9,19.5,69.7,19.5z"/>
    <path fill="#222334" d="M80.2,19.5H81c1.8,0,3.2-1.5,3.2-3.2V3.6c0-1.8-1.5-3.2-3.2-3.2h-0.8c-1.8,0-3.2,1.5-3.2,3.2v12.7
        C77,18.1,78.4,19.5,80.2,19.5z"/>
    <path fill="#222334" d="M85.1,34.6c0-2.5-2-4.6-4.6-4.6H70.2c-2.5,0-4.6,2-4.6,4.6v40.9c0,2.5,2,4.6,4.6,4.6h10.4
        c2.5,0,4.6-2,4.6-4.6V34.6z"/>
    <path fill="#222334" d="M147.3,6l-12.4-5.6c-2.5-1.3-5.5,0.5-5.5,3.3l0,11.5c0,2.9,3.1,4.7,5.6,3.3l12.3-5.9
        C150,11.1,149.9,7.4,147.3,6z"/>
    <path fill="#222334" d="M200.4,0.1c0,0-15.7,0-15.7,0l-0.1,0.3c-7.4-0.1-15.7,0.4-20.4,7.9c-0.6,0.9-0.9,1.8-1,2.7
        c-0.2,0.5-0.4,1.1-0.4,1.8v62.5l0,0.2c0,1,0.3,1.9,0.8,2.6c0.8,1.2,2.2,2,3.8,2h0h10.3h0.8c2.6,0,4.7-2.1,4.7-4.7v-0.5V47.6h17.1
        c2.6,0,4.7-2.1,4.7-4.7V32.9c0-2.6-2.1-4.7-4.7-4.7h-17.1v-9.6c0.2-0.1,0.5-0.1,0.7-0.2h16.5c2.6,0,4.7-2.1,4.7-4.7V4.7
        C205.1,2.2,203,0.1,200.4,0.1z"/>
    <path fill="#222334" d="M113.1,27.9h-11.2c-2.6,0-4.6,1.8-4.6,4.2v46.5c0.1,5.3-1.9,5.6-6.8,9c-1.3,0.9-2.9,2-4.2,3
        c-1.8,1.3-2.2,3.6-0.9,5.3l5.7,9.2c1.5,1.9,4.6,2.4,6.8,0.9c7.2-4.9,19.9-10.3,19.9-22.3c0-12,0-51.7,0-51.7
        C117.7,29.7,115.7,27.9,113.1,27.9z"/>
    <path fill="#222334" d="M230.3,7.4l-7.4-3.9c-1.5-0.8-3.3,0.3-3.3,2l0,0.7l-5-2.7c-1.5-0.8-3.3,0.3-3.3,2l0,8.1
        c0,1.7,1.9,2.8,3.4,2l5-2.8l0,0.8c0,1.7,1.9,2.8,3.4,2l7.4-4.1C231.9,10.5,231.9,8.2,230.3,7.4z"/>
    <path fill="#222334" d="M38.9,1c-1-0.7-34.4-0.9-34.4-0.9C2,0.2,0,2.2,0,4.7v70.8c0,2.5,2,4.6,4.6,4.6c0,0,31.9,0,34.3,0
        c2.4,0,18.5-10.6,19.8-21.2c0.1-0.3,0.1-37.3,0-37.6C57.4,10.7,45.7,5.7,38.9,1z M38.4,51.9c0.1,5.1-1.7,5.6-6.3,8.6H19.5V19.7H32
        c4.6,3.1,6.4,3.5,6.4,8.6V51.9z"/>
</g>
</svg>
</a>
                </div>

                <div class="menu-link b4-b5 b-padinfull" style="margin-top: 1rem">
                    <a href="#menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>    
                </div> <!-- .menu-link -->

                <nav id="menu" class="menu-main b-all" role="navigation">
                    <ul class="menu-items">
                        {% for item in main_nav.items %}
                            <li class="{{item.classes | join(' ')}}">
                                <a href="{{item.link}}">{{item.title}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav><!-- /#menu -->

            {% endblock %}
        </header>


        <main id="content" role="main">

            {% block content_header %}
                Need a content header
            {% endblock %}
        
            {% if title %}<h1>{{title}}</h1>{% endif %}
            <div class="wrapper b-clear {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

        </main>

        {% block footer %}
            <footer id="footer" class="b-all">
                <div class="b2">

                    {% include 'footer.twig' %}

                </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>
