{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}} wf-loading" data-template="base.twig" id="pageTop">

		{% if callout_tf == true %}
			<aside class="site-cta">
				<div class="contain">
					<p>{{callout_bar}}</p>
					<a class="site-cta-close icon-cancel" href="#"></a>
				</div>
			</aside>
		{% endif %}

		<header class="site-header" role="banner">
			{% block header %}
				{% include 'headers/site_header.twig' %}
				{% include 'headers/site_header_extra.twig' %}
			{% endblock %}	
		</header>
		
		<main id="content" class="main" role="main">

			{% include 'partials/page_header-logic.twig' %}
			
			<div class="page-body {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>

			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}

		</main>

		{% block footer %}

			<footer id="footer" class="site-footer" role="contentinfo">
				{% include 'footer.twig' %}
			</footer>

			{{ function('wp_footer') }}
			
		{% endblock %}

		<div class="top-link top-link-bottom">
			<a href="#pageTop"><svg class="shape shape-arrow-up"><use xlink:href="#shape-arrow-up" /></svg></a>
		</div>

	</body>
</html>
