{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}}" data-template="base.twig">
        <header role="banner">
            {% block header %}
                <div class="content-contain">
                    <div class="content-inner">
                        
                            <div class="col-xs-10 col-md-12">
                                <a class="header-logo" href="/" title="{{site.name}}" rel="home">
                                    <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In  -->
                                    <svg version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                                         x="0px" y="0px" width="120px" height="80px" viewBox="0 0 232.2 108.8" enable-background="new 0 0 232.2 108.8"
                                         xml:space="preserve">
                                    <defs>
                                    </defs>
                                    <path fill="#222334" d="M227.5,81.3h-10.9c-2.5,0-4.6-2-4.6-4.6V34.6c0-2.5,2-4.6,4.6-4.6h10.9c2.5,0,4.6,2,4.6,4.6v42.1
                                        C232,79.3,230,81.3,227.5,81.3z"/>
                                    <path fill="#222334" d="M146.5,81.3h-10.9c-2.5,0-4.6-2-4.6-4.6V34.6c0-2.5,2-4.6,4.6-4.6h10.9c2.5,0,4.6,2,4.6,4.6v42.1
                                        C151,79.3,149,81.3,146.5,81.3z"/>
                                    <path fill="#222334" d="M108.4,20L108.4,20c-5.5,0-10-4.5-10-10v0c0-5.5,4.5-10,10-10h0c5.5,0,10,4.5,10,10v0
                                        C118.4,15.5,113.9,20,108.4,20z"/>
                                    <g>
                                        <path fill="#222334" d="M70.9,21L70.9,21c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v13C74.9,19.2,73.2,21,70.9,21z"/>
                                        <path fill="#222334" d="M82.5,21L82.5,21c-2.2,0-4-1.8-4-4V4c0-2.2,1.8-4,4-4h0c2.2,0,4,1.8,4,4v13C86.5,19.2,84.7,21,82.5,21z"/>
                                    </g>
                                    <path fill="#222334" d="M82.5,81.3H71.6c-2.5,0-4.6-2-4.6-4.6V34.6c0-2.5,2-4.6,4.6-4.6h10.9c2.5,0,4.6,2,4.6,4.6v42.1
                                        C87,79.3,85,81.3,82.5,81.3z"/>
                                    <path fill="#222334" d="M149.1,13.3l-12.4,6c-2.5,1.4-5.6-0.4-5.6-3.3l0-11.5c0-2.9,3-4.7,5.6-3.4L149,6.7
                                        C151.7,8.1,151.7,11.9,149.1,13.3z"/>
                                    <path fill="#222334" d="M28.7,2.9C28.1,2.4,5.2,2.2,5.2,2.2C2.3,2.2,0,2.4,0,7.4v10.3V66v10.3c0,2.9,1.4,4.3,4.3,4.3
                                        c0,0-1.9,0.2,24.4,0.2s30.6-20.9,30.6-39.3C59.3,15.4,50,2.9,28.7,2.9z M29.4,58.1c-0.2,0.2-2.9,0.3-2.9,0.3h-3.5
                                        c-0.7,0-1.2-1-1.2-2.2v-5V32.4v-5c0-1.2,0.5-2.2,1.2-2.2h3.5c0,0,2.7,0.1,2.9,0.3c6,1.8,9.9,4.9,9.9,15.8
                                        C39.3,53.3,35.3,56.4,29.4,58.1z"/>
                                    <path fill="#222334" d="M199.8,18c2.5,0,4.6-2,4.6-4.6V4.6c0-2.5-2-4.6-4.6-4.6h-21.3c0,0,0,0,0,0h-10.9c0,0,0,0,0,0
                                        c-0.3,0-0.5,0-0.8,0.1c-0.1,0-0.2,0-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1c-1.8,0.6-3.1,2.3-3.1,4.3v72.2c0,2.5,2,4.6,4.6,4.6h10.9
                                        c2.5,0,4.6-2,4.6-4.6v-0.5V49.5h16.8c2.5,0,4.6-2,4.6-4.6v-9.9c0-2.5-2-4.6-4.6-4.6H183V18H199.8z"/>
                                    <path fill="#222334" d="M114.8,31h-11.2c-2.6,0-4.6,1.8-4.6,4.2v45.5c0.1,5.3-1.9,5.6-6.8,9c-1.3,0.9-2.9,2-4.2,3
                                        c-1.8,1.3-2.2,3.6-0.9,5.3l5.7,9.2c1.5,1.9,4.6,2.4,6.8,0.9c7.2-4.9,19.9-10.3,19.9-22.3s0-50.7,0-50.7
                                        C119.4,32.8,117.3,31,114.8,31z"/>
                                    <path fill="#222334" d="M231,8.5l-7.4-3.9c-1.5-0.8-3.3,0.3-3.3,2l0,0.7l-5-2.7c-1.5-0.8-3.3,0.3-3.3,2l0,8.1c0,1.7,1.9,2.8,3.4,2
                                        l5-2.8l0,0.8c0,1.7,1.9,2.8,3.4,2l7.4-4.1C232.6,11.5,232.6,9.3,231,8.5z"/>
                                    </svg>
                                </a>
                            </div>
                    
                            <div class="menu-link col-sm-2" style="margin-top: 1rem">
                                <a href="#menu">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>    
                            </div> <!-- /.menu-link -->

                        </div> <!-- /.content-inner -->
                    </div> <!-- /.content-contain -->
                    
                    <nav id="menu" class="menu-main" role="navigation">
                        <div class="content-contain">
                            
                            <ul class="menu-items">
                                {% for item in main_nav.items %}
                                    <li class="{{item.classes | join(' ')}}">
                                        <a href="{{item.link}}">{{item.title}}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </nav><!-- /#menu -->

            {% endblock %}
        </header>


        <main id="content" role="main">

            <header class="page-header">
                <div class="content-contain">
                    {% include 'partials/header-logic.twig' %}        
                </div>
            </header>
            
            <div class="page-body {{sidebar_class}}">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>

            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

            <footer class="page-footer">
                <h3>Page Footer</h3>    
            </footer>

        </main>

        {% block footer %}
            <footer id="footer" class="site-footer" role="contentinfo">
                <div class="content-contain">
                    {% include 'footer.twig' %}
                </div>
            </footer>
            {{ function('wp_footer') }}
        {% endblock %}

    </body>
</html>
