
{% set blck = post %}

{% include 'blocks/block-cta.twig' %}

<div class="contain clearfix">
	
	<div class="widget widget-social text-center">
		<h5 class="widget-title">On the Web</h5>
		<a href="http://www.yelp.com/biz/dijifi-brooklyn" target="blank">
			<img src="{{site.theme.link}}/assets/img/svgs/yelp.svg" alt="DiJiFi on Yelp">
		</a>
		<div class="links-social">
			<a href="https://www.facebook.com/DiJiFi" target="blank"><span class="icon-gplus"></span></a>
			<a href="https://plus.google.com/105195510985990032143/posts" target="blank"><span class="icon-facebook-squared"></span></a>
		</div>

	</div> <!-- /.widget -->

	<div class="widget">
		<h5 class="widget-title">Our Services</h5>
		<nav class="nav-footer" role="navigation">	
			<ul class="menu">
				{% for item in footer_nav_explore.items %}
					<li class="{{item.classes | join(' ')}}">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav><!-- /.menu-footer -->		
	</div> <!-- /.widget -->

	<div class="widget">
		<h5 class="widget-title">About Us</h5>
		<nav class="nav-footer" role="navigation">	
			<ul class="menu">
				{% for item in footer_nav.items %}
					<li class="{{item.classes | join(' ')}}">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav><!-- /.menu-footer -->
	</div> <!-- /.widget -->

	<div class="widget">
		<h5 class="widget-title">Get in touch</h5>
		<ul class="widget-list list-info">
			<li>(646) 519-2447<br>info@dijifi.com</li>
			<li>10-6, Mon-Fri<br>1166 Manhattan Ave #100<br>Brooklyn, NY 11222</li>
		</ul>
	</div> <!-- /.widget -->

</div>

<div class="colophon">
	<div class="contain">
		<div class="watermark">
			<img src="{{site.theme.link}}/assets/img/content/bbb.png" alt="Accredited Business">
		</div>
		<p class="creds">Site by <a href="http://notlaura.com/" target="blank">Lara</a>. Powered by <a href="http://wordpress.org/" target="blank">WordPress</a> and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>
		<p class="copyright">&copy; DiJiFi, LLC {{"now"|date('Y')}}</p>	
	</div>	
</div> <!-- /.colophon -->

<div class="top-link top-link-bottom">
	<a href="#pageTop" class="icon-open-down">TOP</a>
</div>
