
{% set blck = post %}

{% include 'blocks/block-cta.twig' %}

<div class="contain clearfix">
	
	<div class="widget widget-social">
		<h5 class="widget-title">On the Web</h5>

		<ul class="widget-list list-social">
			<li><span class="icon-gplus"></span><span class="meta">Connect on Google Plus</span></li>
			<li><span class="icon-facebook-squared"></span><span class="meta">Like us on Facebook</span></li>
		</ul>	

		<a href="http://www.yelp.com/biz/dijifi-brooklyn" target="blank">
			{# <svg class="shape shape-yelp"><use xlink:href="#shape-yelp" /></svg> #}
			<img src="{{site.url}}/wp-content/themes/dijifi-theme/assets/img/svgs/yelp.svg" alt="DiJiFi on Yelp">
		</a>
		
		{# <div class="fb-like" data-href="https://dijifi.com" data-width="100%" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
		<br>
		<br>
		<div class="g-plusone" data-annotation="inline" data-width="100%"></div> #}

	</div>

	<div class="widget">
		<h5 class="widget-title">About Us</h5>
		<nav class="nav-footer" role="navigation">	
			<ul class="menu">
				{% for item in footer_nav.items %}
					<li class="{{item.classes | join(' ')}}">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav><!-- /.menu-footer -->
	</div>

	<div class="widget">
		<h5 class="widget-title">Our Process</h5>
		<nav class="nav-footer" role="navigation">	
			<ul class="menu">
				{% for item in footer_nav_explore.items %}
					<li class="{{item.classes | join(' ')}}">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav><!-- /.menu-footer -->		
	</div>

	<div class="widget">
		<h5 class="widget-title">Get in touch</h5>
		<ul class="widget-list list-info">
			<li><span class="icon-clock"></span>10-6, Mon-Fri</li>
			<li><span class="icon-phone"></span>(646) 519-2447</li>
			<li>info@dijifi.com</li>
			<li>1166 Manhattan Ave #100<br>Brooklyn, NY 11222</li>
		</ul>
		<br>
		<img src="{{site.url}}/wp-content/themes/dijifi-theme/assets/img/content/bbb.png" alt="Accredited Business">

	</div>
</div>

<div class="colophon">
	<div class="contain">
		<p class="creds">Site by <a href="http://notlaura.com/" target="blank">Lara</a>. Powered by <a href="http://wordpress.org/" target="blank">WordPress</a> and <a href="http://upstatement.com/timber" target="blank">Timber</a>.</p>
		<p class="copyright">&copy; DiJiFi, LLC {{"now"|date('Y')}}</p>	
	</div>	
</div>
