{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<h1>page header</h1>
			{# <picture> #}
				{# <source srcset="{{TimberImage(header_image_desktop).src}}" media="(min-width: 56em)"> #}
				<img class="page-header-image" srcset="{{header_image_desktop}}">
			{# </picture> #}

			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>

				<div class="article-body">
					{{post.content}}
				</div>
			</section>

		</article>
	</div> <!-- /content-wrapper -->

{% endblock %}