<div class="header-brand">	
	<a class="header-logo" href="/" title="{{site.name}}" rel="home">
		<svg class="shape shape-logo"><use xlink:href="#shape-logo" /></svg>
	</a>	
	<p class="header-tag">{{site.description}}<span class="hide-until-md"> <a href="{{site.url}}/location">Brooklyn, NY</a> &bull; (646) 519-2447</span></p>
</div>

<div class="header-nav-link menu-link">	
		<a href="#menu">
			<span></span>
			<span></span>
			<span></span>
		</a>    
	</div> <!-- /.menu-link -->

<nav id="menu" class="header-nav" role="navigation">	
	<ul class="menu-items menu-main clearfix">
		<li class="menu-item menu-item-complex">
			<a class="item-split" href="{{site.url}}/location">Brooklyn, NY</a> <a href="tel:6465192447" class="item-split">(646) 519-2447</a>
		</li>
		{% for item in main_nav.items %}
			<li class="{{item.classes | join(' ')}}">
				<a href="{{item.link}}">{{item.title}}</a>
			</li>
		{% endfor %}
		{# <li class="menu-item menu-item-cta hide-until-md"><a href="{{site.url}}/order">Estimate your Order</a></li>
		 #}<li class="has-subnav menu-item">
			<a href="#">Info</a>
			<ul class="subnav">
				{% for item in header_nav.items %}
					<li class="{{item.classes | join(' ')}}">
						<a href="{{item.link}}">{{item.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</li>
		<li class="menu-item menu-item-cta"><a href="{{site.url}}/order">Estimate your Order</a></li>
	</ul>
{# 	<ul class="menu-items menu-items-secondary">
		<li class="has-subnav">
			
		</li>
		{% for item in header_nav.items %}
			<li class="{{item.classes | join(' ')}}">
				<a href="{{item.link}}">{{item.title}}</a>
			</li>
		{% endfor %}
		
	</ul> #}
</nav><!-- /#menu -->

{# <p class="hide-until-md header-tag">New York's trusted digitization studio.<span class="hide-until-md"> <a href="{{site.url}}/location">Brooklyn, NY</a> &bull; (646) 519-2447</span></p> #}
