{% extends "blocks/block.twig" %}

{# List Block #}

{% block content %}

	{% set type = blck.list_type %}
	{% set display = blck.list_display %}

	{% if type == 'artifacts' %}
		{% set list = blck.connected_artifacts %}
	{% elseif type == 'free_form' %}
		{% set list = blck.freeform_items %}
	{% endif %}

	{% if blck.list_title %}
		<div class="inner-squish decor-wrap">
			<h4 class="list-title decor"><span>{{blck.list_title}}</span></h4>	
		</div>
	{% endif %}

	<ul class="list list-{{display}} list-{{list|length}}">

		{% for item in list %}
			<li>
				<div class="item-support">
					{% if item.image %}
					<img src="{{TimberImage(item.image).src('medium')}}" alt="{{item.post_title}}">
					{% endif %}
				</div>
				<div class="item-main">
					{% if type == 'artifacts' %}
						<h5 class="item-title">{{item.post_title}}</h5>
						<p>{{item.short_description}}</p>
					{% elseif type == 'free_form' %}
						<h5 class="item-title">{{item.item_title}}</h5>
						<p>{{item.description}}</p>
						{% for related in item.related_content %}
							{{related.link}}
							<p><a href="{{related.link}}" title="{{related.post_title}}">Read more on our {{related.post_title}} page.</a></p>
						{% endfor %}
					{% endif %}
				</div>
			</li>
		{% endfor %}
			
	</ul> <!-- /.list-{{display}} -->


{# <ul class="list list-major list-3">

	<li>
		<div class="item-support">
			<img src="http://dfi.local/wp-content/uploads/2014/11/raw.png" alt="">
		</div>
		<div class="item-main">
			<h5 class="item-title">Raw</h5>
			<p><p>Raw service means we get the best possible scan from your photo, and only organize and rename them. You will need to rotate, crop out unwanted borders, and adjust color or contrast.</p>
		</p>
	</div>
</li>
<li>
	<div class="item-support">
		<img src="http://dfi.local/wp-content/uploads/2014/11/direct.png" alt="">
	</div>
	<div class="item-main">
		<h5 class="item-title">Direct</h5>
		<ul>
			<li>Rotation and hand cropping</li>
			<li>No color and contrast adjustments</li>
		</ul>
	</div>
</li>
<li>
	<div class="item-support">
		<img src="http://dfi.local/wp-content/uploads/2014/11/complete.png" alt="">
	</div>
	<div class="item-main">
		<h5 class="item-title">Complete</h5>
		<p><p>Complete service adds hand adjustments to color and contrast. Faded images tend to have their original look restored, and under or overexposed images are improved.</p>
	</p>
</div>
</li>

</ul> #} <!-- /.list-free_form -->


{% endblock %}