{% extends "blocks/block.twig" %}

{% block content %}
<div class="aside inner-full">

	{# <span class="prompt-wrap"> #}
	
	{# </span> #}
	{# <div class="row"> #}
		<div class="prompt-wrap col-lg-3-np">
			<div class="prompt"><span class="meta">Case Study</span></div>
		</div>
			
	{% for related in blck.page %}
		<div class="col-lg-8">
			<h4>{{related.post_title}}</h4>
			<p>{{related.summary}}</p>	
			<p><a href="{{related.guid}}">Read more...</a></p>
			{# TODO: related.link not working...using guid now I guess? #}
		</div>
			
{# 		<div class="col-sm-4 hide-until-sm">
			<br>
			<svg class="shape shape-{{blck.icon}}"><use xlink:href="#shape-{{blck.icon}}" /></svg>
		</div> #}
	{% endfor %}
{# </div> #}
</div>
{% endblock %}