{% extends "blocks/block.twig" %}

{# List Block #}

{% block content %}
<div class="inner-full">
	{% set type = blck.list_type %}

	{{blck.text}}
	
	{% if type == 'artifacts' %}

		<ul class="list list-artifacts">
		{% for arti in blck.connected_artifacts %}
		
			<li class="artifact">
				{# {% if (loop.index % 2) %} #}
					<div class="artifact-img">
						<img src="{{TimberImage(arti.image).src('medium')}}" alt="{{arti.post_title}}">	
					</div>
					<div class="artifact-desc">
						<h5 class="artifact-title">{{arti.post_title}}</h5>
						<p>{{arti.short_description}}</p>	
						{% include 'partials/edit-link.twig' %}
					</div>
				{# {% else %}
					<div class="artifact-desc">
						<h5 class="artifact-title">{{arti.post_title}}</h5>
						<p>{{arti.short_description}}</p>	
						{% include 'partials/edit-link.twig' %}
					</div>
					<div class="artifact-img">
						<img src="{{TimberImage(arti.image).src('medium')}}" alt="{{arti.post_title}}">	
					</div>
				{% endif %} #}
			</li>

		{% endfor %}
		</ul>

	{% elseif type == 'text_icon' %}

		<ul class="list list-icons">

			{% for item in blck.icon_items %}
				<li class="icon-item">
					<div class="icon-item-img">
						{% if item.item_icon %}
							<svg class="shape shape-{{item.item_icon}}"><use xlink:href="#shape-{{item.item_icon}}" /></svg>
						{% else %}
							<svg class="shape shape-default"><use xlink:href="#shape-default" /></svg>
						{% endif %}
					</div>
					<div class="icon-item-desc">
						<h5>{{item.item_title}}</h5>
						<p class="icon-desc">{{item.item_desc}}</p>
						{% for related in item.related_content %}
							{{related.link}}
							<p><a href="{{related.link}}" title="{{related.post_title}}">Read more on our {{related.post_title}} page.</a></p>
						{% endfor %}
					</div>
				</li>
			{% endfor %}

		</ul>
		
	{% endif %}

</div>
{% endblock %}