{% extends "blocks/block.twig" %}

{# List Block #}

{% block content %}

	{% set type = blck.list_type %}

	{% if type == 'artifacts' %}
		{% set list = blck.connected_artifacts %}
	{% elseif type == 'text_icon' %}
		{% set list = blck.icon_items %}
	{% endif %}

	{{blck.text}}
	
	<ul class="list list-{{type}} list-{{list|length}}">

	{% for item in list %}
		<li>
			<div class="item-support">
				{% if type == 'artifacts' %}
					<img src="{{TimberImage(item.image).src('medium')}}" alt="{{item.post_title}}">	
				{% elseif type == 'text_icon' %}
					<svg class="shape shape-{{item.item_icon}}"><use xlink:href="#shape-{{item.item_icon}}" /></svg>
				{% endif %}
			</div>
			<div class="item-main">
				{% if type == 'artifacts' %}
					<h5 class="item-title">{{item.post_title}}</h5>
					<p>{{item.short_description}}</p>
				{% elseif type == 'text_icon' %}
					<h5 class="item-title">{{item.item_title}}</h5>
					<p>{{item.item_desc}}</p>
					{% for related in item.related_content %}
						{{related.link}}
						<p><a href="{{related.link}}" title="{{related.post_title}}">Read more on our {{related.post_title}} page.</a></p>
					{% endfor %}
				{% endif %}
			</div>
		</li>
	{% endfor %}
		
	</ul> <!-- /.list-{{type}} -->

{% endblock %}