{% extends "blocks/block.twig" %}

{# List Block #}

{% block content %}
	<p class="note-child">List block</p>

	{% set type = blck.list_type %}

	{{blck.text}}
	
	{% if type == 'artifacts' %}
		<p><em>Artifacts List</em></p>

		<ul class="list list-artifacts">
		{% for arti in blck.connected_artifacts %}
		
			<li class="row">
				<div class="col-sm-4">
					<img src="{{TimberImage(arti.image).src('medium')}}" alt="{{arti.post_title}}">	
				</div>
				<div class="col-sm-8">
					<h4>{{arti.post_title}}</h4>
					<p>{{arti.short_description}}</p>	
				</div>
			</li>

		{% endfor %}
		</ul>

	{% elseif type == 'text_icon' %}
		<ul class="list list-icons row">

			{% for item in blck.icon_items %}
				<li class="col-md-4">
					{% if item.item_icon %}
						<svg class="shape shape-{{item.item_icon}}"><use xlink:href="#shape-{{item.item_icon}}" /></svg>
					{% else %}
						<svg class="shape shape-default"><use xlink:href="#shape-default" /></svg>
					{% endif %}
					<h5>{{item.item_title}}</h5>
					<p class="icon-desc">{{item.item_desc}}</p>
					{% for related in item.related_content %}
						{{related.link}}
						<p><a href="{{related.link}}" title="{{related.post_title}}">Read more on our {{related.post_title}} page.</a></p>
					{% endfor %}
				</li>
			{% endfor %}

		</ul>
	{% endif %}


{% endblock %}