{% extends "blocks/block.twig" %}

{% block content %}
	{% if blck.text_format == 'caption'%}
		<figure>			
			<figcaption class="caption meta">{{blck.caption}}</figcaption>
			<img class="lazy caption-image" src="{{TimberImage(blck.image).src|resize(800)}}" alt="">
		</figure>
	{% elseif blck.text_format == 'paragraph'%}
	<div class="inner-squish">
		<h4>{{blck.text_heading}}</h4>
		<div class="textimage-image">
			<img class="lazy" src="{{TimberImage(blck.image).src|resize(800)}}">	
		</div>
		{{blck.text}}
	</div>
	{% endif %}
{% endblock %}